$colors: (
  LayoutBackground: rgb(44, 44, 44),
  ContainerBackground: rgb(112, 111, 111),
  ModalBackground: rgba(39, 39, 39, 0.747),
  Modal: rgba(161, 160, 160, 0.747),
  font: rgb(48, 47, 47),
);
